<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Centers</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="index.html">St. Judes</a>
    </nav>

    <div class="sidebar bg-dark">
      <center>
        <img src="Logo_CFG.png" class="profile_image" alt="">
        <h4>Username</h4>
      </center>
      <a href="Centers.html" id="selected"><span>Centers</span></a>
      <a href="Children.html"><span>Beneficiaries</span></a>
      <a href="Donors.html"><span>Donors</span></a>
      <!-- <a href="Transactions.html"><span>Transactions</span></a>
      <a href="#"><span>Beneficiaries</span></a>
      <a href="#"><span>Hospitals</span></a> -->
      <a href="login/login.html"><span>Logout</span></a>
    </div>

    <div class="content">
      <div class="p-5" style="float: left;">
        <div class="card p-2" style="width: 18rem;">
          <img class="card-img-top" src="cancer camps/1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tata Memorial Hospital</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>

      <div class="p-5" style="float: left;">
        <div class="card p-2" style="width: 18rem;">
          <img class="card-img-top" src="cancer camps/3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Columbia Asia Hospital</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>

      <div class="p-5" style="float: left;">
        <div class="card p-2" style="width: 18rem;">
          <img class="card-img-top" src="cancer camps/4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Adyar Cancer Institute</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>

      <div class="p-5" style="float: left;">
        <div class="card p-2" style="width: 18rem;">
          <img class="card-img-top" src="cancer camps/5.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Malar Cancer Institute</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>

      <div class="p-5" style="float: left;">
        <div class="card p-2" style="width: 18rem;">
          <img class="card-img-top" src="cancer camps/6.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gandhi Cancer Center</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>

      <div class="p-5" style="float: left;">
        <div class="card p-2" style="width: 18rem;">
          <img class="card-img-top" src="cancer camps/2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Regional Cancer Center</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>