<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
</head>
<body>
					<form method="POST" action="">
						{% csrf_token %}
						<div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>

						<div>
							<div>
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>

								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div>
				 				<input type="submit" value="Login">
				   			</div>
					</form>

				</div>

				{% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}			
		
				<div>
					<div>
						Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
					</div>
			
				</div>
			</div>
		</div>
	</div>
</body>

</html>