{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'css/login.css'%}">
    
</head>
<body style="background: url(cancer-hack.jpg); background-size: cover;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Login
				</span>
				<form action="" method="POST" class="login100-form p-b-33 p-t-5">
                    {% csrf_token %}

					<div class="wrap-input100">
						<input type="text" name="username" placeholder="Username..." class=" input100 form-control">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100">
						<input type="password" name="password" placeholder="Password..." class="input100 form-control" >
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn form-control" style="margin-top: 32px; padding-bottom: 20px;">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
				<span style="color: white;">
					Don't have an account?
					<a href="{% url 'register' %}" style="color:palevioletred;">Sign Up</a>
                </span>
                
                {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}			
		
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
</body>
</html>