<!DOCTYPE html>
<html>
    
<head>
	<title>Register</title>
</head>
<body>
				<div>
					<h3 id="form-title">REGISTER ACCOUNT</h3>
				</div>
				<div>

					<form method="POST" action="">
						{% csrf_token %}
						<div>
							<div>
								<span class="input-group-text"></i></span>
							</div>
							{{form.username}}
						</div>
						<div>
							{{form.email}}
						</div>
						<div>
							{{form.password1}}
						</div>
						<div >
							{{form.password2}}
						</div>

				   		<div>
				 			<input type="submit" value="Register Account">
				   		</div>

					</form>
				</div>

				{{form.errors}}
				
				<div>
					<div>
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
	<script>

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html>